#Print Command

In [ ]:
print("abc",7,5,5,True)

abc 7 5 5 True

In [ ]:
print("abc",7,5,5,True,sep='/')

abc/7/5/5/True

In [ ]:
print("hello")
print("world")

hello
world

In [ ]:
print("hello",end='-')
print("world")

hello-world

In [ ]:
# https://www.w3schools.com/python/ref_func_print.asp

In [ ]:
#type function will tell you the data type

print(type(5))
print(type(6.5))
print(type(False))

<class 'int'>
<class 'float'>
<class 'bool'>

#Data Types

In [ ]:
#int

print(8)
print(1e309)    #1*10 ki power 309
print(1e308)

8
inf
1e+308

In [ ]:
# float

print(8.55)
print(1.7e308)

8.55
1.7e+308

In [ ]:
#str

print('prashant jain')
print('anything written under parenthesis is a str')

prashant jain
anything written under parenthesis is a str

In [ ]:
#boolean

print(True)
print(False)

True
False

In [ ]:
#complex number

print(5+6j)

(5+6j)

#Data Structure

In [ ]:
#list

print([1,2.4,'prashant',True])
print(type([1,2.4,'prashant',True]))

[1, 2.4, 'prashant', True]
<class 'list'>

In [ ]:
#tuple

print((1,2.4,'prashant',True))
print(type((1,2.4,'prashant',True)))

(1, 2.4, 'prashant', True)
<class 'tuple'>

In [ ]:
#sets

print({1,2,3,3,4,5,6,7,6,8})
print(type({1,2,3,3,4,5,6,7,6,8}))

{1, 2, 3, 4, 5, 6, 7, 8}
<class 'set'>

In [ ]:
#dict

print({'Name':'Prashant','Age':32,'Married':False})
print(type({'Name':'Prashant','Age':32,'Married':False}))

{'Name': 'Prashant', 'Age': 32, 'Married': False}
<class 'dict'>

#Variables

In [ ]:
#what is dynamic & static typing

#In C/C++ we have to declare the variable type before creating
#In python, we can simply create a varible & python will understand the datatype automaitcally given the value of the variable

# int a = 5
a = 5
print(type(a))

<class 'int'>

In [ ]:
#dynamic binding

# we can change the value of the variable to a value of dfrnt data type this is called dynamic binding
#In C/C++ it's static.

a = 5
a = 'prashant'
print(a)

prashant

In [ ]:
#creating 3 variables in 1 go

a,b,c  =1,2,3
print(a,b,c)

1 2 3

In [ ]:
a=b=c=5
print(a,b,c)

5 5 5

#comments

In [ ]:
# to define the code we use comments in python
# using "#"

#keywords & identifiers

In [ ]:
#compilation is a process to convert your code into binary numbers
#its done by either "compiler" or "interpreter"
#like C & C++ is a complied language & python is a interpreter language

![image.png]()

In [ ]:
#compiler or interpreter use these keywords to convert high level language to low level language
#we should not use these keywords as variable names in code bcoz they are reserved for python
#otherwise code will crash

In [ ]:
#rules to write identifiers or variable name

# 1name = 'prashant'    #this will not work, variable must not start with digit
# _name = 'prashant'    #this will work
# name1 = 'prashnat'    #this will work
#_ = name               #this will work
#variable name cant be keywords

#Test program - 1
Take 2 input from user & print the sum

In [ ]:
num1 = int(input("Enter 1st number"))
num2 = int(input("Enter 2nd number"))

print(num1 + num2)

Enter 1st number2
Enter 2nd number3
5

#Type conversion

In [ ]:
#Implicit vs Explicit

print(5 + 5.6)
print(type(5))
print(type(5.6))

#In implicit type conversion, python interpreter will try to convert the data type if possible without throwing error

10.6
<class 'int'>
<class 'float'>

In [ ]:
#In explicit type conversion, we convert the data type using predefined functions
#which is called type conversion

a = "5"
b = 6

print(type(a))
print(type(b))

print(int(a))
print(type(int(a)))

print(int(a) + b)

<class 'str'>
<class 'int'>
5
<class 'int'>
11

#Literals

In [ ]:
#value stored in variable is called literal
#for ex: a = 2
# a is variable, = is operator & 2 is literal

In [ ]:
a = 0b1010 #Binary Literals
b = 100 #Decimal Literal 
c = 0o310 #Octal Literal
d = 0x12c #Hexadecimal Literal

#Float Literal
float_1 = 10.5 
float_2 = 1.5e2 # 1.5 * 10^2
float_3 = 1.5e-3 # 1.5 * 10^-3

#Complex Literal 
x = 3.14j

print(a, b, c, d)
print(float_1, float_2,float_3)
print(x, x.imag, x.real)

10 100 200 300
10.5 150.0 0.0015
3.14j 3.14 0.0

In [ ]:
# binary
x = 3.14j
print(x.imag)

3.14

In [ ]:
string = 'This is Python'
strings = "This is Python"
char = "C"
multiline_str = """This is a multiline string with more than one line code."""
unicode = u"\U0001f600\U0001F606\U0001F923"
raw_str = r"raw \n string"

print(string)
print(strings)
print(char)
print(multiline_str)
print(unicode)
print(raw_str)

This is Python
This is Python
C
This is a multiline string with more than one line code.

raw \n string

In [ ]:
a = True + 4
b = False + 10

print("a:", a)
print("b:", b)

a: 5
b: 10

In [ ]:
k = None
a = 5
b = 6
print('Program exe')

Program exe

# Task : Session 1
Solve these questions own your own and try to test yourself what you have learned in the session.

### Q1 :- Print the given strings as per stated format.

**Given strings**: 
```
"Data" "Science" "Mentorship" "Program" 
"By" "CampusX"
```
**Output**: 
``` 
Data-Science-Mentorship-Program-started-By-CampusX
```

Concept- [Seperator and End]

In [ ]:
print("Data","Science","Mentorship","Program", 
"By","CampusX",sep='-',end='')

Data-Science-Mentorship-Program-By-CampusX

### Q2:- Write a program that will convert celsius value to fahrenheit.

In [ ]:
celcius_temp = 24
feh_temp = (celcius_temp * 1.8)/32
print(feh_temp)

1.35

### Q3:- Take 2 numbers as input from the user.Write a program to swap the numbers without using any special python syntax.

In [ ]:
num1 = int(input("Enter first number"))
num2 = int(input("Enter second number"))

num1,num2 = num2,num1

print(num1,num2)

Enter first number2
Enter second number3
3 2

### Q4:- Write a program to find the euclidean distance between two coordinates.Take both the coordinates from the user as input.

In [ ]:
# Write your code here
p1x = int(input('enter x cood of 1st point'))
p1y = int(input('enter y cood of 1st point'))
p2x = int(input('enter x cood of 2nd point'))
p2y = int(input('enter y cood of 2nd point'))

distance = ((p2x - p1x)**2 + (p2y - p1y)**2)**0.5

print(round(distance,2))

enter x cood of 1st point1
enter y cood of 1st point2
enter x cood of 2nd point3
enter y cood of 2nd point4
2.83

11
### Q5:- Write a program to find the simple interest when the value of principle,rate of interest and time period is provided by the user.

In [ ]:
principle = int(input("Enter Principle Amount"))
roi = int(input("Enter ROI"))
time_period = int(input("Enter time period"))

simple_intrest = principle*(1+(roi*time_period))
print(simple_intrest)

Enter Principle Amount2
Enter ROI3
Enter time period4
26

### Q6:- Write a program that will tell the number of dogs and chicken are there when the user will provide the value of total heads and legs.

For example:
Input:
heads -> 4
legs -> 12
<br>
Output:
dogs -> 2
chicken -> 2

In [ ]:
heads = int(input("Enter total heads"))
legs = int(input("Enter total legs"))

# dog >> 1 head & 4 legs
# chicke >> 1 head & 2 legs

### Q7:- Write a program to find the sum of squares of first n natural numbers where n will be provided by the user.

In [ ]:
# Write your code here

### Q8:- Given the first 2 terms of an Arithmetic Series.Find the Nth term of the series. Assume all inputs are provided by the user.

In [ ]:
# Write your code here

### Q9:- Given 2 fractions, find the sum of those 2 fractions.Take the numerator and denominator values of the fractions from the user.

In [ ]:
# Write your code here

### Q10:- Given the height, width and breadth of a milk tank, you have to find out how many glasses of milk can be obtained? Assume all the inputs are provided by the user.



Input:<br>
Dimensions of the milk tank<br>
H = 20cm, L = 20cm, B = 20cm
<br><br>
Dimensions of the glass<br>
h = 3cm, r = 1cm

In [ ]:
# Write your code here

# Operators

1. Artithmetic --> + - * /
2. Relational --> > < >= <=
3. Logical --> AND OR NOT
4. Bitwise -->
5. Assignment --> =
6. Membership -->

In [ ]:
#Artithmetic

print(5+4)
print(5-4)
print(5*4)
print(5/2)
print(5//2)    #this converts float answer to int (integer devision)
print(5%2)     #returns the remainder 
print(5**3)    #power of operator (5 to the power 2)

9
1
20
2.5
2
1
125

In [ ]:
# Relational

print(4>5)
print(4<5)
print(5>=5)
print(5<=5)
print(5==3)
print(5!=3)

False
True
True
True
False
True

In [ ]:
#Logical

# AND = if both are 1 then returns 1, if anyone is 0 or both are 0 then returns 0

print(1 and 0)
print(0 and 0)

0
0

In [ ]:
# OR = ig anyone is 1 then returns 1

print(1 or 0)

1

In [ ]:
#NOT = converts 1 to 0 & o to 1
#In python, True is 1 & False is 0

print(not 0)
print(not 1)

True
False

In [ ]:
#Bitwise - operates on binary values

#bitwise and
print(2 & 3)

#bitwise or
print(2 | 3)


# 010
# 110
# ---
# 010

#bitwise XOR
#0 in same, 1 in different 

print(2 ^ 3)


#bitwise NOT
#change 1 to 0 & 0 to 1 
print(~2)

#leftshift bitwise
print(4 >> 2)


#rightshift bitwise
print(4 << 2)

2
3
1
-3
1
16

In [ ]:
#Assignment

a = 2

# "=" is a asignment operator

a += 2
print(a)

4

In [ ]:
#Membership
#in or not in
#find whether D is available in Delhi or nots


print('D' in 'Delhi')
print('D' not in 'Delhi')

True
False

# Program - 2
Find a sum of 3 digit number entered by user

In [ ]:
num = int(input("Enter 3 digit number"))
print(num)

Enter 3 digit number786
786

In [ ]:
a = num % 10
print(a)

6

In [ ]:
num = num // 10
print(num)

78

In [ ]:
b = num % 10
print(b)

8

In [ ]:
num = num // 10
print(num)

7

In [ ]:
c = num
print(c)

7

In [ ]:
print(a + b + c)

21

# If-Else

In [ ]:
#when your program have 2 condition: you use IF or ELSE statements to execute further
#like you have a website & when user tries to login, you use IF statement as IF login & pswd is correct then enter, 
#ELSE show incorrect id password error

In [ ]:
# ex1
#correct email - pj@gmail.com
#correct password - 1234

email = input("Enter your email")
password = input("Enter your password")

if email == "pj@gmail.com" and password == "1234":
  print("Login Successful")

else:
  print("Incorrect credentials")

Enter your email
Enter your password123
Incorrect credentials

In [ ]:
#ex2
#if any 1 info out of 2 is incorrect so we want to give another chance to enter again
#check conditions again 

email = input("Enter your email")
password = input("Enter your password")

if email == "pj@gmail.com" and password == "1234":
  print("Login Successful")

elif email != "pj@gmail.com" and password == "1234":
  print("Enter Correct email")
  email = input("Enter your email")
  if email == 'pj@gmail.com':
    print("Finally")
  else:
    print("Chal bhak")    
  
elif email == "pj@gmail.com" and password != "1234":
  print("Enter correct password")
  password = input("Enter your password")
  if password == '1234':
    print("finally")
  else:
    print("Chal bhak")    

else:
  print("Incorrect credentials")

Enter your emailpj@gmail.com
Enter your password1234
Login Successful

In [ ]:
#ex3
#find min of 3 numbers

n1 = int(input("Enter 1st number"))
n2 = int(input("Enter 2nd number"))
n3 = int(input("Enter 3rd number"))

if n1 < n2 and n1 < n3:
  print("min number is: ",n1)

elif n2 < n3:
  print("min number is: ",n2)

else:
  print("min number is: ",n3)

Enter 1st number3
Enter 2nd number2
Enter 3rd number1
min number is:  1

In [ ]:
#ex4
#calc

n1 = int(input("Enter 1st num"))
n2 = int(input("Enter 2nd num"))
op = input("""Enter + for sum, - for substraction, * for multiplication and / for division""")

if op == "+":
  print(n1 + n2)

elif op == "-":
  print(n1 - n2)

elif op == "*":
  print(n1*n2)

else:
  print(n1/n2)

Enter 1st num25
Enter 2nd num5
Enter + for sum, - for substraction, * for multiplication and / for division+
30

#Modules

1. math
2. keywords
3. datetime
4. random

In [ ]:
#modules is a file of functions written by someone else which we can use in our program

In [ ]:
#math
import math

math.factorial(5)
math.floor(6.7)
math.sqrt(4)

2.0

In [ ]:
#keywords
import keyword
print(keyword.kwlist)

['False', 'None', 'True', 'and', 'as', 'assert', 'async', 'await', 'break', 'class', 'continue', 'def', 'del', 'elif', 'else', 'except', 'finally', 'for', 'from', 'global', 'if', 'import', 'in', 'is', 'lambda', 'nonlocal', 'not', 'or', 'pass', 'raise', 'return', 'try', 'while', 'with', 'yield']

In [ ]:
#random
import random

random.randint(1,10)

8

In [ ]:
#datetime
import datetime

datetime.datetime.now()

datetime.datetime(2022, 11, 11, 17, 47, 26, 193687)

In [ ]:
help('modules')

Please wait a moment while I gather a list of all available modules...

/usr/local/lib/python3.7/dist-packages/IPython/kernel/__init__.py:13: ShimWarning: The `IPython.kernel` package has been deprecated since IPython 4.0.You should import from ipykernel or jupyter_client instead.
  "You should import from ipykernel or jupyter_client instead.", ShimWarning)
/usr/local/lib/python3.7/dist-packages/llvmlite/llvmpy/__init__.py:4: UserWarning: The module `llvmlite.llvmpy` is deprecated and will be removed in the future.
  "The module `llvmlite.llvmpy` is deprecated and will be removed in the "
/usr/local/lib/python3.7/dist-packages/llvmlite/llvmpy/core.py:9: UserWarning: The module `llvmlite.llvmpy.core` is deprecated and will be removed in the future. Equivalent functionality is provided by `llvmlite.ir`.
  "The module `llvmlite.llvmpy.core` is deprecated and will be removed in "
WARNING: AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa" [astropy._erfa]
WARNING:astropy:AstropyDeprecationWarning: The private astropy._erfa module has been made into its own package, pyerfa, which is a dependency of astropy and can be imported directly using "import erfa"
/usr/local/lib/python3.7/dist-packages/caffe2/__init__.py:5: UserWarning: Caffe2 support is not fully enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn("Caffe2 support is not fully enabled in this PyTorch build. "
/usr/local/lib/python3.7/dist-packages/caffe2/proto/__init__.py:17: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
/usr/local/lib/python3.7/dist-packages/caffe2/proto/__init__.py:17: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
/usr/local/lib/python3.7/dist-packages/caffe2/python/__init__.py:9: UserWarning: Caffe2 support is not enabled in this PyTorch build. Please enable Caffe2 by building PyTorch from source with `BUILD_CAFFE2=1` flag.
  warnings.warn('Caffe2 support is not enabled in this PyTorch build. '
/usr/local/lib/python3.7/dist-packages/past/types/oldstr.py:5: DeprecationWarning:

Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working

/usr/local/lib/python3.7/dist-packages/intervaltree/intervaltree.py:37: DeprecationWarning:

Using or importing the ABCs from 'collections' instead of from 'collections.abc' is deprecated since Python 3.3,and in 3.9 it will stop working

/usr/local/lib/python3.7/dist-packages/jupyter_client/ssh/tunnel.py:57: DeprecationWarning:

zmq.utils.strtypes is deprecated in pyzmq 23.

/usr/local/lib/python3.7/dist-packages/librosa/core/constantq.py:1059: DeprecationWarning:

`np.complex` is a deprecated alias for the builtin `complex`. To silence this warning, use `complex` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.complex128` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

Downloading http://dlib.net/files/shape_predictor_68_face_landmarks.dat.bz2 to /root/mlxtend_data/shape_predictor_68_face_landmarks.dat.bz2

/usr/local/lib/python3.7/dist-packages/nbconvert/filters/strings.py:22: DeprecationWarning:

defusedxml.cElementTree is deprecated, import from defusedxml.ElementTree instead.

/usr/local/lib/python3.7/dist-packages/nibabel/quaternions.py:31: DeprecationWarning:

`np.float` is a deprecated alias for the builtin `float`. To silence this warning, use `float` by itself. Doing this will not modify any behavior and is safe. If you specifically wanted the numpy scalar type, use `np.float64` here.
Deprecated in NumPy 1.20; for more details and guidance: https://numpy.org/devdocs/release/1.20.0-notes.html#deprecations

/usr/lib/python3.7/pkgutil.py:92: UserWarning:

The DICOM readers are highly experimental, unstable, and only work for Siemens time-series at the moment
Please use with caution.  We would be grateful for your help in improving them

/usr/local/lib/python3.7/dist-packages/nltk/twitter/__init__.py:21: UserWarning:

The twython library has not been installed. Some functionality from the twitter package will not be available.

/usr/local/lib/python3.7/dist-packages/pip/_vendor/packaging/version.py:130: DeprecationWarning:

Creating a LegacyVersion has been deprecated and will be removed in the next major release

/usr/local/lib/python3.7/dist-packages/pip/_vendor/packaging/version.py:130: DeprecationWarning:

Creating a LegacyVersion has been deprecated and will be removed in the next major release

/usr/lib/python3.7/pkgutil.py:92: UserWarning: Viewer requires Qt
/usr/local/lib/python3.7/dist-packages/sphinx/websupport/__init__.py:25: RemovedInSphinx20Warning: sphinx.websupport module is now provided as sphinxcontrib-websupport. sphinx.websupport will be removed at Sphinx-2.0. Please use the package instead.
/usr/local/lib/python3.7/dist-packages/marshmallow/fields.py:573: RemovedInMarshmallow4Warning: The 'missing' argument to fields is deprecated. Use 'load_default' instead.
/usr/local/lib/python3.7/dist-packages/tensorboard/_vendor/html5lib/filters/sanitizer.py:29: DeprecationWarning: html5lib's sanitizer is deprecated; see https://github.com/html5lib/html5lib-python/issues/443 and please let us know if Bleach is unsuitable for your needs
/usr/local/lib/python3.7/dist-packages/torch/distributed/_sharded_tensor/__init__.py:10: DeprecationWarning: torch.distributed._sharded_tensor will be deprecated, use torch.distributed._shard.sharded_tensor instead
/usr/local/lib/python3.7/dist-packages/torch/distributed/_sharding_spec/__init__.py:10: DeprecationWarning: torch.distributed._sharding_spec will be deprecated, use torch.distributed._shard.sharding_spec instead

No CUDA runtime is found, using CUDA_HOME='/usr/local/cuda'
Cython              colorcet            jupyterlab_widgets  reprlib
IPython             colorlover          kaggle              requests
OpenGL              colorsys            kanren              requests_oauthlib
PIL                 community           kapre               resampy
ScreenResolution    compileall          keras               resource
__future__          concurrent          keras_preprocessing rlcompleter
_abc                confection          keyword             rmagic
_ast                configparser        kiwisolver          rpy2
_asyncio            cons                korean_lunar_calendar rsa
_bisect             contextlib          langcodes           runpy
_blake2             contextlib2         lib2to3             sched
_bootlocale         contextvars         libfuturize         scipy
_bz2                convertdate         libpasteurize       scs
_cffi_backend       copy                librosa             seaborn
_codecs             copyreg             lightgbm            secrets
_codecs_cn          crashtest           linecache           select
_codecs_hk          crcmod              llvmlite            selectors
_codecs_iso2022     crypt               lmdb                send2trash
_codecs_jp          csimdjson           locale              setuptools
_codecs_kr          csv                 locket              setuptools_git
_codecs_tw          ctypes              logging             shapely
_collections        cufflinks           lsb_release         shelve
_collections_abc    curses              lunarcalendar       shlex
_compat_pickle      cv2                 lxml                shutil
_compression        cvxopt              lzma                signal
_contextvars        cvxpy               macpath             simdjson
_crypt              cycler              mailbox             site
_csv                cymem               mailcap             sitecustomize
_ctypes             cython              markdown            six
_ctypes_test        cythonmagic         markupsafe          skimage
_curses             daft                marshal             sklearn
_curses_panel       dask                marshmallow         sklearn_pandas
_cvxcore            dataclasses         math                slugify
_datetime           datascience         matplotlib          smart_open
_dbm                datetime            matplotlib_venn     smtpd
_decimal            dateutil            mimetypes           smtplib
_distutils_hack     db_dtypes           missingno           sndhdr
_dlib_pybind11      dbm                 mistune             snowballstemmer
_dummy_thread       dbus                mizani              socket
_ecos               debugpy             mlxtend             socketserver
_elementtree        decimal             mmap                socks
_functools          decorator           modulefinder        sockshandler
_hashlib            defusedxml          more_itertools      softwareproperties
_heapq              descartes           moviepy             sortedcontainers
_imp                difflib             mpmath              soundfile
_io                 dill                msgpack             spacy
_json               dis                 multidict           spacy_legacy
_locale             distributed         multipledispatch    spacy_loggers
_lsprof             distutils           multiprocessing     sphinx
_lzma               dlib                multitasking        spwd
_markupbase         dns                 murmurhash          sql
_md5                docs                music21             sqlalchemy
_multibytecodec     doctest             natsort             sqlite3
_multiprocessing    docutils            nbconvert           sqlparse
_opcode             dopamine            nbformat            sre_compile
_operator           dot_parser          netCDF4             sre_constants
_osx_support        dummy_threading     netrc               sre_parse
_pickle             easydict            networkx            srsly
_plotly_future_     ecos                nibabel             ssl
_plotly_utils       editdistance        nis                 stan
_posixsubprocess    ee                  nisext              stat
_py_abc             email               nltk                statistics
_pydecimal          en_core_web_sm      nntplib             statsmodels
_pyio               encodings           notebook            storemagic
_pyrsistent_version entrypoints         ntpath              string
_pytest             enum                nturl2path          stringprep
_queue              ephem               numba               struct
_random             erfa                numbergen           subprocess
_rinterface_cffi_abi errno               numbers             sunau
_rinterface_cffi_api et_xmlfile          numexpr             symbol
_scs_direct         etils               numpy               sympy
_scs_indirect       etuples             oauth2client        sympyprinting
_sha1               fa2                 oauthlib            symtable
_sha256             fastai              ogr                 sys
_sha3               fastcore            okgrade             sysconfig
_sha512             fastdownload        opcode              syslog
_signal             fastdtw             openpyxl            tables
_sitebuiltins       fastjsonschema      operator            tabnanny
_socket             fastprogress        opt_einsum          tabulate
_soundfile          fastrlock           optparse            tarfile
_sqlite3            faulthandler        os                  tblib
_sre                fcntl               osgeo               telnetlib
_ssl                feather             osqp                tempfile
_stat               filecmp             osqppurepy          tenacity
_string             fileinput           osr                 tensorboard
_strptime           filelock            ossaudiodev         tensorboard_data_server
_struct             firebase_admin      packaging           tensorboard_plugin_wit
_symtable           fix_yahoo_finance   palettable          tensorflow
_sysconfigdata_m_linux_x86_64-linux-gnu flask               pandas              tensorflow_datasets
_sysconfigdata_m_x86_64-linux-gnu flatbuffers         pandas_datareader   tensorflow_estimator
_testbuffer         fnmatch             pandas_gbq          tensorflow_gcs_config
_testcapi           folium              pandas_profiling    tensorflow_hub
_testimportmultiple formatter           pandocfilters       tensorflow_io_gcs_filesystem
_testmultiphase     fractions           panel               tensorflow_metadata
_thread             frozenlist          param               tensorflow_probability
_threading_local    fsspec              parser              termcolor
_tkinter            ftplib              parso               terminado
_tracemalloc        functools           partd               termios
_warnings           future              past                test
_weakref            gast                pasta               testpath
_weakrefset         gc                  pastel              tests
_xxtestfuzz         gdal                pathlib             text_unidecode
_yaml               gdalconst           pathy               textblob
abc                 gdalnumeric         patsy               textwrap
absl                gdown               pdb                 thinc
aeppl               genericpath         pep517              this
aesara              gensim              pexpect             threading
aifc                geographiclib       pickle              threadpoolctl
aiohttp             geopy               pickleshare         tifffile
aiosignal           getopt              pickletools         time
alabaster           getpass             pip                 timeit
albumentations      gettext             pipes               tkinter
altair              gi                  piptools            tlz
antigravity         gin                 pkg_resources       token
apiclient           glob                pkgutil             tokenize
appdirs             glob2               platform            toml
apt                 gnm                 plistlib            tomli
apt_inst            google_auth_httplib2 plotly              toolz
apt_pkg             google_auth_oauthlib plotlywidget        torch
aptsources          google_crc32c       plotnine            torchaudio
argparse            google_drive_downloader pluggy              torchgen
array               googleapiclient     pooch               torchsummary
arviz               googlesearch        poplib              torchtext
ast                 graphviz            portpicker          torchvision
astor               greenlet            posix               tornado
astropy             gridfs              posixpath           tqdm
astunparse          grp                 pprint              trace
async_timeout       grpc                prefetch_generator  traceback
asynchat            grpc_status         preshed             tracemalloc
asyncio             gspread             prettytable         traitlets
asyncore            gspread_dataframe   profile             tree
asynctest           gym                 progressbar         tty
atari_py            gym_notices         prometheus_client   turtle
atexit              gzip                promise             tweepy
atomicwrites        h5py                prompt_toolkit      typeguard
attr                hashlib             prophet             typer
attrs               heapdict            proto               types
audioop             heapq               pstats              typing
audioread           hijri_converter     psutil              typing_extensions
autograd            hmac                psycopg2            tzlocal
autoreload          holidays            pty                 unicodedata
babel               holoviews           ptyprocess          unification
backcall            html                pwd                 unittest
base64              html5lib            py                  uritemplate
bdb                 http                py_compile          urllib
bin                 httpimport          pyarrow             urllib3
binascii            httplib2            pyasn1              uu
binhex              httpstan            pyasn1_modules      uuid
bisect              humanize            pyclbr              vega_datasets
bleach              hyperopt            pycocotools         venv
blis                idna                pycparser           vis
bokeh               imageio             pyct                warnings
boost               imagesize           pydantic            wasabi
branca              imaplib             pydata_google_auth  wave
bs4                 imblearn            pydoc               wcwidth
bson                imgaug              pydoc_data          weakref
builtins            imghdr              pydot               webargs
bz2                 imp                 pydot_ng            webbrowser
cProfile            importlib           pydotplus           webencodings
cachecontrol        importlib_metadata  pydrive             werkzeug
cached_property     importlib_resources pyemd               wheel
cachetools          imutils             pyexpat             widgetsnbextension
caffe2              inflect             pygments            wordcloud
calendar            inspect             pygtkcompat         wrapt
catalogue           intervaltree        pylab               wsgiref
certifi             io                  pylev               xarray
cffi                ipaddress           pymc                xarray_einstats
cftime              ipykernel           pymeeus             xdrlib
cgi                 ipykernel_launcher  pymongo             xgboost
cgitb               ipython_genutils    pymystem3           xkit
chardet             ipywidgets          pyparsing           xlrd
charset_normalizer  isympy              pyrsistent          xlwt
chunk               itertools           pysndfile           xml
clang               itsdangerous        pytest              xmlrpc
click               jax                 python_utils        xxlimited
client              jaxlib              pytz                xxsubtype
clikit              jieba               pyviz_comms         yaml
cloudpickle         jinja2              pywt                yarl
cmake               joblib              pyximport           yellowbrick
cmath               jpeg4py             qdldl               zict
cmd                 json                qudida              zipapp
cmdstanpy           jsonschema          queue               zipfile
code                jupyter             quopri              zipimport
codecs              jupyter_client      random              zipp
codeop              jupyter_console     re                  zlib
colab               jupyter_core        readline            zmq
collections         jupyterlab_plotly   regex

Enter any module name to get more help.  Or, type "modules spam" to search
for modules whose name or summary contain the string "spam".

/usr/lib/python3.7/pkgutil.py:107: VisibleDeprecationWarning: zmq.eventloop.minitornado is deprecated in pyzmq 14.0 and will be removed.
    Install tornado itself to use zmq with the tornado IOLoop.

#Loops



*   Need of loop
*   FOR loop
*   WHILE loop

In [ ]:
#need of loop
#when we have to do same task multiple times then we can use loops so that our programs does that multiple times

In [ ]:
number = int(input("Enter the number"))
i = 1
while i < 11:
  print(number, '*', i, '=',number *i)
  i += 1

Enter the number27
27 * 1 = 27
27 * 2 = 54
27 * 3 = 81
27 * 4 = 108
27 * 5 = 135
27 * 6 = 162
27 * 7 = 189
27 * 8 = 216
27 * 9 = 243
27 * 10 = 270

In [ ]:
# https://pythontutor.com/render.html#mode=display

# While loop with else

In [ ]:
number = int(input("Enter the number"))
i = 1
while i < 11:
  print(number, '*', i, '=',number *i)
  i += 1

else:
  print("*** Table Ends ***")

Enter the number17
17 * 1 = 17
17 * 2 = 34
17 * 3 = 51
17 * 4 = 68
17 * 5 = 85
17 * 6 = 102
17 * 7 = 119
17 * 8 = 136
17 * 9 = 153
17 * 10 = 170
*** Table Ends ***

# Guessing Game

In [ ]:
#generate rand int b/w 1 to 100
import random

jackpot = random.randint(1,10)
guess = int(input("Guess Karo "))
attempt = 1

while guess != jackpot:
  if guess < jackpot:
    print('Guess Higher')

  else:
    print('Guess Lower')
    

  guess = int(input("Guess Again "))
  attempt += 1

else:
  print("You won in ",attempt,"Attempts")

Guess Karo 12
Guess Lower
Guess Again 19
Guess Lower
Guess Again 1
Guess Higher
Guess Again 2
Guess Higher
Guess Again 3
You won in  5 Attempts

#FOR loops

In [ ]:
for i in range(1,10):
  print(i)

1
2
3
4
5
6
7
8
9

In [ ]:
#with jump of 2
#step size

for i in range(1,10,2):
  print(i)

1
3
5
7
9

In [ ]:
for i in range(10,0,-1):
  print(i)

10
9
8
7
6
5
4
3
2
1

In [ ]:
for i in 'delhi':
  print(i)

d
e
l
h
i

# FOR loop exercise
current population of town is 10000, population of town is increasing at 10% per yr, find population at the end of each 10 yr

In [ ]:
c_pop = 10000
increase_rate = '10%'

for i in range(10,0,-1):
  print(i,c_pop)
  c_pop = round(c_pop/1.1)

10 10000
9 9091
8 8265
7 7514
6 6831
5 6210
4 5645
3 5132
2 4665
1 4241

#Sequence sum

In [ ]:
n = int(input("Enter a Number"))

result = 0
fact = 1

for i in range(1,n+1):
  fact = fact*i
  result = result + i/fact

print(result)

Enter a Number3
2.5

#Nested Loops

In [ ]:
for j in range(1,4):
  for i in range(1,4):
    for k in range(1,4):
      print(j,i,k)

1 1 1
1 1 2
1 1 3
1 2 1
1 2 2
1 2 3
1 3 1
1 3 2
1 3 3
2 1 1
2 1 2
2 1 3
2 2 1
2 2 2
2 2 3
2 3 1
2 3 2
2 3 3
3 1 1
3 1 2
3 1 3
3 2 1
3 2 2
3 2 3
3 3 1
3 3 2
3 3 3

Pattern 1

In [ ]:
rows = int(input("Enter no of rows"))

for i in range(rows+1):
  print("*"*i)

Enter no of rows5

*
**
***
****
*****

Pattern 2

In [ ]:
rows = int(input("Enter Row Numbers"))
for i in range(1,rows+1):
  for j in range(1,i+1):
    print(j,end='')
  for k in range(i-1,0,-1):
    print(k,end='')

  print()

Enter Row Numbers4
1
121
12321
1234321

#Loop control sytem


*   Break
*   Continue
*   Pass

In [ ]:
for i in range(1,6):
  if i == 5:
    break
  print(i)

1
2
3
4

In [ ]:
#given a range, print all prime numbers in that range
#which can be divided by itself or 1

lower = int(input("Enter starting range"))
upper = int(input("Enter end range"))

for i in range(lower,upper+1):
  for j in range(2,i):
    if i%j == 0:
      break

  else:
    print(i)

Enter starting range10
Enter end range100
11
13
17
19
23
29
31
37
41
43
47
53
59
61
67
71
73
79
83
89
97

In [ ]:
#continue statement
#it will skip out of loop & slip all the codes after that

for i in range(5):
  if i == 3:
    continue
  print(i)

0
1
2
4

In [ ]:
#pass statement will just do nothing & not throw any error of "no code written"

#Strings



1.   Creating strings
2.   Accessing strings
3.   Adding chars to strings
4.   Editing strings
5.   Deleting strings
6.   Operations in strings
7.   String functions

In [ ]:
#strings are texts
#collection of unicode characters

#initially when computers started they were able to show ASCII charcters which is 8bit but as it grows
#people wanted to write more characters, which is why UNICODE characters came into picture
#which support 16bit characters

#creating strings

In [ ]:
name = 'Prashant'
print(name)
print(type(name))

#it can be written under '', "", """ """

name = "It's Prashant Jain"
print(name)

para = """ Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum."""

print(para)

Prashant
<class 'str'>
It's Prashant Jain
 Lorem Ipsum is simply dummy text of the printing and typesetting industry.
Lorem Ipsum has been the industry's standard dummy text ever since the 1500s,
when an unknown printer took a galley of type and scrambled it to make a type specimen book. It has survived not only five centuries, but also the leap into electronic typesetting, remaining essentially unchanged. It was popularised in the 1960s with the release of Letraset sheets containing Lorem Ipsum passages,
and more recently with desktop publishing software like Aldus PageMaker including versions of Lorem Ipsum.

Accessing strings

In [ ]:
#indexing & slicing

#positive indexing
name = 'was'
print(name[0])
print(name[1])
print(name[2])


#negative indexing
name = 'was'
print(name[-3])
print(name[-2])
print(name[-1])

w
a
s
w
a
s

In [ ]:
s = 'hello world'

print(s[0:5])
print(s[1:4])

#step size
print(s[0:5:2])
print(s[0:5:3])

hello
ell
hlo
hl

In [ ]:
print(s[::-1])

dlrow olleh

In [ ]:
print(s[-5:])

world

In [ ]:
print(s[-1:-6:-1])

dlrow

Editing & Deleting

In [ ]:
#python strings are immutable

s = 'hello'
# s[0] = 'H'

In [ ]:
s = 'hello'
del(s)
# print(s)

In [ ]:
s = 'hello world'
# del s[-1:-5:2]      #porting change nt permitted bcoz str are immutable
# print(s)

Operations on strings

1. arithmetic
2. relational
3. logical
4. loops
5. membership

In [ ]:
print("Delhi" + "Mumbai")
print("*" * 15)

DelhiMumbai
***************

In [ ]:
print("Delhi" == "Mumbai")
print("Delhi" != "Mumbai")

print("Delhi" > "Agra")         #logic: comparing  strings lexiographically like alphabetically as per dictionary
print("Delhi" > "Lucknow")

False
True
True
False

logical

In [ ]:
print("hello" and "world")        #second word aane k baad surity aa rhi hai
print("hello" or "world")         #first waale ke aate hi surity aa gyi

print("" and "abc")
print("" or "abc")

world
hello

abc

Loops

In [ ]:
for i in "Hello":
  print(i)

H
e
l
l
o

In [ ]:
for i in "delhi":
  print("Pune")

Pune
Pune
Pune
Pune
Pune

membership

In [ ]:
print('d' in 'delhi')

True

#String Functions

1. len
2. max
3. min
4. sorted

In [ ]:
print(len("Hello"))

5

In [ ]:
print(max("Hello"))

o

In [ ]:
print(min("Hello"))

H

In [ ]:
print(sorted("zberonics"))

['b', 'c', 'e', 'i', 'n', 'o', 'r', 's', 'z']

In [ ]:
print(sorted("zberonics",reverse=True))

['z', 's', 'r', 'o', 'n', 'i', 'e', 'c', 'b']

String specific functions

In [ ]:
s = 'hello World'

print(s.capitalize())

Hello world

In [ ]:
s.title()

'Hello World'

In [ ]:
s.upper()

'HELLO WORLD'

In [ ]:
s.lower()

'hello world'

In [ ]:
s = 'HeLlOwOrLd'
s.swapcase()

'hElLoWoRlD'

Some other String Functions

In [ ]:
#count

name = 'Prashant'
name.count('a')

2

In [ ]:
#find
sent = 'my name is prashant'
sent.find('is')

8

In [ ]:
#index

sent = 'my name is prashant'
sent.index('is')

8

In [ ]:
#endswith

sent.endswith('the')

False

In [ ]:
sent.startswith('my')

True

In [ ]:
#f-string

fname = 'popat'
lname = 'lal'

print(f'my first name is {fname} and last name is {lname}')

my first name is popat and last name is lal

isalnum / isalpha / isdigit / isidentifier

In [ ]:
s = 'prashant2601'

print(s.isalnum())

True

In [ ]:
print(s.isalpha())

False

In [ ]:
s = '1234'
print(s.isdigit())

True

In [ ]:
#valid identifier or variable

s = '1name'
s.isidentifier()

False

In [ ]:
s = 'name1'
s.isidentifier()

True

split / join

In [ ]:
sent = 'my name is prashant jain'
sent.split()

['my', 'name', 'is', 'prashant', 'jain']

In [ ]:
sent = 'my name is prashant jain'
sent.split('is')

['my name ', ' prashant jain']

In [ ]:
tex = ['my', 'name', 'is', 'prashant', 'jain']
" and ".join(tex)

'my and name and is and prashant and jain'

In [ ]:
tex = ['my', 'name', 'is', 'prashant', 'jain']
" - ".join(tex)

'my - name - is - prashant - jain'

In [ ]:
#replace

'my name is prashant'.replace('prashant','J')

'my name is J'

In [ ]:
#strip

'prashant       '.strip()

'prashant'

#Programming problmes with strings

In [5]:
#find length of given string without using length function

strx = input("Enter a string: ")
counter = 0

for i in strx:
  counter += 1

print(counter)

Enter a string: my name is prasahant jain and im a good boy
43

In [ ]:
#extract username from given email

email = input('Enter your email')
pos = email.index('@')
print(email[:pos])

Enter your emailiamprashantjain2601@gmail.com
iamprashantjain2601

In [2]:
#count the specific character count in a string

strx = input('Enter your email')
term = input("which word frequency you want to know: ")

counter = 0
for i in strx:
  if i == term:
    counter += 1

print("frequency of given term is: ",counter)

Enter your emailiamprashantjain2601@gmail.com
which word frequency you want to know: a
frequency of given term is:  5

In [7]:
#write a program to remove a charcter in string

strx = input('Enter your email')
term = input("what would you like to remove: ")

result = ''

for i in strx:
  if i != term:
    result = result + i
    

print(result)

Enter your emailiamprashantjain
what would you like to remove: a
imprshntjin

In [ ]:
#write a program to find whether a given string is palindrome or not

#abba
#malayalam

word = input("Enter a word ")
flag = True

for i in range(0,len(word) // 2):
  if word[i] != word[len(word) - i -1]:
    flag = False
    print("Not a Palindrome")
    break

if flag:
  print("Palindrome")

Enter a word malayalam
Palindrome

#Task 2

### `Problem 1`: Write a program that will give you in hand monthly salary after deduction on CTC - HRA(10%), DA(5%), PF(3%) and taxes deduction as below:

> Salary(Lakhs) : Tax(%)

*   Below 5 : 0%
*   5-10 : 10%
*   10-20 : 20%
*   aboove 20 : 30%

In [8]:
# Write code here
#write your code
ctc = int(input('Enter your anual CTC:'))

if ctc < 5000000:
    salary=ctc*.82
elif ctc<1000000:
    salary=ctc*.72
elif ctc<2000000:
    salary=ctc*.62
else:
    salary=ctc*.52

print("You in hand monthly salary will be-", round(salary/12,2))

Enter your anual CTC:100000
You in hand monthly salary will be- 6833.33

### `Problem 2`: Write a program that take a user input of three angles and will find out whether it can form a triangle or not.

Hint - Sum of all angles is 180 and all angles are positive

In [9]:
# Write code here
first = int(input('enter the 1st angle'))
second = int(input('enter the 2nd angle'))
third = int(input('enter the 3rd angle'))

if (first+second+third) == 180 and first>0 and second>0 and third>0:
  print('forms a triangle')
else:
  print('does not form a triangle')

enter the 1st angle45
enter the 2nd angle135
enter the 3rd angle90
does not form a triangle

### `Problem 3`: Write a program that will take user input of cost price and selling price and determines whether its a loss or a profit.

In [ ]:
# Write code here
# write your code here 
cost_price = int(input('Enter cost price-'))
selling_price = int(input('Enter selling price-'))

if cost_price < selling_price:
    print('Profit')
elif cost_price > selling_price:
    print('Loss')
else:
    print('No Loss No Gain')

Enter cost price-6000
Enter selling price-12000
Profit

### `Problem 4`: Write a menu-driven program - 
1. cm to ft 
2. km to miles 
3. USD to INR 
4. exit

Hint
- 1 cm = 0.032ft
- 1km = 0.62
- 1 USD = 80 INR

In [10]:
# Write code here
menu = input("""
Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
""")

if menu == '1':
  cm = float(input('enter the cm value'))
  print('ft value is',0.032*cm)
elif menu == '2':
  km = float(input('enter the km value'))
  print('miles value is',km*0.62)
elif menu == '3':
  usd = float(input('enter usd'))
  print('inr',usd*80)
else:
  exit()

Hi select an option
1. cms to ft
2. km to miles
3. USD to INR
4. Exit
1
enter the cm value70
ft value is 2.24

### `Problem 5` - Exercise 12: Display Fibonacci series up to 10 terms.

*Note: The Fibonacci Sequence is a series of numbers. The next number is found by adding up the two numbers before it. The first two numbers are 0 and 1. For example, 0, 1, 1, 2, 3, 5, 8, 13, 21. The next number in this series above is 13+21 = 34*

In [11]:
# Write code here

num1,num2 = 0,1

for i in range(10):
  print(num1)

  next = num1 + num2

  num1 = num2
  num2 = next

0
1
1
2
3
5
8
13
21
34

### `Problem 6` - Find the factorial of a given number.

Write a program to use the loop to find the factorial of a given number.

The factorial (symbol: `!`) means to multiply all whole numbers from the chosen number down to 1.

For example: calculate the factorial of 5

```bash
5! = 5  4  3  2  1 = 120
```

Output: 

```bash
120
```

In [ ]:
# Write code here
num = int(input('enter the number'))

fact = 1
for i in range(1,num+1):
  fact = fact*i

print(fact)

enter the number5
120

### `Problem 7` - Reverse a given integer number.

Example:

`Input:`

```bash
76542
```

`Output:`

```bash
24567
```

In [ ]:
# Write code here
number = int(input('enter the number'))

rev = 0

while number>0:
  last = number%10
  rev = rev*10 + last
  number = number//10

print(rev)

enter the number123456
654321

### `Problem 8`: Take a user input as integer N. Find out the sum from 1 to N. If any number if divisible by 5, then skip that number. And if the sum is greater than 300, don't need to calculate the sum further more. Print the final result. And don't use for loop to solve this problem.

**Example 1:**

`Input:`

```bash
30
```

`Output:`

```bash
276
```

In [ ]:
# Write code here
N = int(input('enter the number'))
sum = 0
i = 1

while i < N+1:
  if i % 5 == 0:
    i+=1
    continue

  sum += i

  if sum > 300:
    sum = sum - i
    break

  i+=1

print(sum)

enter the number50
276

### `Problem 9`: Write a program that keeps on accepting a number from the user until the user enters Zero. Display the sum and average of all the numbers.

In [ ]:
# Write code here
sum = 0
count = 0

while True:
  num = int(input('enter number'))
  if num == 0:
    break
  sum = sum + num
  count = count + 1

print('sum',sum)
print('avg',sum/count)

enter number1
enter number2
enter number3
enter number4
enter number5
enter number0
sum 15
avg 3.0

###`Problem 9`: Write a program which will find all such numbers which are divisible by 7 but are not a multiple of 5, between 2000 and 3200 (both included). The numbers obtained should be printed in a comma-separated sequence on a single line.

In [ ]:
# Write code here
L = []
for i in range(2000,3201):
  if i % 7 == 0 and i % 5 != 0:
    L.append(str(i))

print(",".join(L))

2002,2009,2016,2023,2037,2044,2051,2058,2072,2079,2086,2093,2107,2114,2121,2128,2142,2149,2156,2163,2177,2184,2191,2198,2212,2219,2226,2233,2247,2254,2261,2268,2282,2289,2296,2303,2317,2324,2331,2338,2352,2359,2366,2373,2387,2394,2401,2408,2422,2429,2436,2443,2457,2464,2471,2478,2492,2499,2506,2513,2527,2534,2541,2548,2562,2569,2576,2583,2597,2604,2611,2618,2632,2639,2646,2653,2667,2674,2681,2688,2702,2709,2716,2723,2737,2744,2751,2758,2772,2779,2786,2793,2807,2814,2821,2828,2842,2849,2856,2863,2877,2884,2891,2898,2912,2919,2926,2933,2947,2954,2961,2968,2982,2989,2996,3003,3017,3024,3031,3038,3052,3059,3066,3073,3087,3094,3101,3108,3122,3129,3136,3143,3157,3164,3171,3178,3192,3199

###`Problem 10`: Write a program, which will find all such numbers between 1000 and 3000 (both included) such that each digit of the number is an even number. The numbers obtained should be printed in a space-separated sequence on a single line.

In [ ]:
# Write code here
L = []
for i in range(1000,3001):
  flag = True

  curr = i

  while curr > 0:
    last = curr%10
    if last % 2 != 0:
      flag = False
      break
    curr = curr//10

  if flag == True:
    L.append(str(i))

print(",".join(L))

2000,2002,2004,2006,2008,2020,2022,2024,2026,2028,2040,2042,2044,2046,2048,2060,2062,2064,2066,2068,2080,2082,2084,2086,2088,2200,2202,2204,2206,2208,2220,2222,2224,2226,2228,2240,2242,2244,2246,2248,2260,2262,2264,2266,2268,2280,2282,2284,2286,2288,2400,2402,2404,2406,2408,2420,2422,2424,2426,2428,2440,2442,2444,2446,2448,2460,2462,2464,2466,2468,2480,2482,2484,2486,2488,2600,2602,2604,2606,2608,2620,2622,2624,2626,2628,2640,2642,2644,2646,2648,2660,2662,2664,2666,2668,2680,2682,2684,2686,2688,2800,2802,2804,2806,2808,2820,2822,2824,2826,2828,2840,2842,2844,2846,2848,2860,2862,2864,2866,2868,2880,2882,2884,2886,2888

###`Problem 11`: A robot moves in a plane starting from the original point (0,0). The robot can move toward UP, DOWN, LEFT and RIGHT with a given steps. 
The trace of robot movement is shown as the following:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
> The numbers after the direction are steps. 

> `!` means robot stop there.

**Please write a program to compute the distance from current position after a sequence of movement and original point.** 

*If the distance is a float, then just print the nearest integer.*

Example:

`Input`:
```
UP 5
DOWN 3
LEFT 3
RIGHT 2
!
```
`Output`:
```
2
```

In [ ]:
# Write code here
pos = [0,0]
while True:
  s = input('Enter the robot path')
  if s == '!':
    break
  direction = s.split()[0]
  steps = int(s.split()[1])

  if direction == 'UP':
    pos[1] = pos[1] + steps
  elif direction == 'DOWN':
    pos[1] = pos[1] - steps
  elif direction == 'LEFT':
    pos[0] = pos[0] - steps
  elif direction == 'RIGHT':
    pos[0] = pos[0] + steps
  else:
    pass

print('new pos',pos)
print((pos[0]**2 + pos[1]**2)**0.5)

Enter the robot pathUP 10
Enter the robot pathDOWN 5
Enter the robot pathLEFT 13
Enter the robot path!
new pos [-13, 5]
13.92838827718412

###`Problem 12`:Write a program to print whether a given number is a prime number or not

In [ ]:
# Write code here
num = int(input('enter the num'))

flag = True
for i in range(2,num):
  if num%i == 0:
    flag = False
    break

if flag == True:
  print('Prime')
else:
  print('Not Prime')

enter the num21
Not Prime

###`Problem 13`:Print all the Armstrong numbers in a given range.
Range will be provided by the user<br>
Armstrong number is a number that is equal to the sum of cubes of its digits. For example 0, 1, 153, 370, 371 and 407 are the Armstrong numbers.

In [ ]:
# Write code here

###`Problem 14`:Calculate the angle between the hour hand and minute hand.

Note: There can be two angles between hands; we need to print a minimum of two. Also, we need to print the floor of the final result angle. For example, if the final angle is 10.61, we need to print 10.

Input:<br>
H = 9 , M = 0<br>
Output:<br>
90<br>
Explanation:<br>
The minimum angle between hour and minute
hand when the time is 9 is 90 degress.

In [ ]:
# Write code here

###`Problem 15`:Given two rectangles, find if the given two rectangles overlap or not. A rectangle is denoted by providing the x and y coordinates of two points: the left top corner and the right bottom corner of the rectangle. Two rectangles sharing a side are considered overlapping. (L1 and R1 are the extreme points of the first rectangle and L2 and R2 are the extreme points of the second rectangle).

Note: It may be assumed that the rectangles are parallel to the coordinate axis.

<img src='https://www.geeksforgeeks.org/wp-content/uploads/rectanglesOverlap.png' width='300' height='200'>

In [ ]:
# Write code here